{% extends "feather/templates/_base.html" %}

{% import "feather/templates/macros.html" as m %}

{% block opengraph %}
{% endblock opengraph %}

{% block feeds %}
{% if config.generate_feeds %}
<link rel="alternate" title="Atom" type="application/atom+xml" href="{{ get_url(path=" atom.xml", trailing_slash=false)
  }}">
{% endif %}
{% endblock feeds %}


{% block content %}

<div class="container">
  <section class="post">
    <article>

      {{ section.content | safe}}
    </article>
  </section>

  {# <p><a href="{{ get_url(path='@/blog/_index.md')}}">Blog</a></p> #}
  {#
  <hr /> #}

  {% if section.subsections | length %}
  <div class="posts">
    <h4>Sections</h4>
    {# {% for page in section.pages %}
    {% if not page.extra.hidden %}
    <div class="post">
      <div class='info'>
        <span>{{ page.date | date(format="%Y %b %d") }}</span>
      </div>
      <a class='header-link' href="{{ page.path }}">
        <h4 class="title"> {{ page.title }} </h4>
      </a>
      <p>
        {{ page.content | safe | striptags | truncate }}
      </p>
      {{ m::tags(taxonomy=page.taxonomies['tags']) }}
    </div>
    <hr />
    {% endif %}
    {% endfor %} #}
    {% for sub in section.subsections%}
    {% set subsection = get_section(path=sub)%}
    <div> <a href="{{subsection.permalink}}">
        <h6>
          {% if subsection.title %}
          {{subsection.title}}
          {% else %}
          {{subsection.path | replace(from="/", to="") | capitalize }}
          {%endif%}
          </h3>
      </a>
    </div>
    {% if subsection.description %}
    <div style="padding: 0 0 0 10px;">{{subsection.description}}</div>
    {%endif%}
    <hr />

    {% endfor %}
  </div>
  {% endif %}
</div>
{% endblock content %}